@import '@ddi/bootstrap/scss/detran/variables';

.card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    box-shadow: none;
    border: none;
    height: 40px;

    .buttons-container {
      display: flex;
      flex-direction: row;
      gap: 15px;

      .btn-outline-warning:hover {
        background-color: transparent;
      }
      .btn-outline-warning {
        border-color: $orange-dark;
        color: $orange-dark;
      }
      .btn-primary {
        background-color: $orange-dark;
      }
    }
  }
  .body-container {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    background-color: $white;
    box-shadow: 0 3px 6px #999;
    border-radius: 3px;

    .display-row {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      padding: 2rem 2rem 0 2rem;
      flex-wrap: wrap;

      .required-field-info {
        color: $red;
        width: fit-content;
        height: fit-content;
        margin: 0px;
        margin-bottom: 0px;
      }

      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        #nome-wrapper {
          width: 100%;
        }

        .input-field-wrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .hidden {
            visibility: hidden;
          }
          .input-field-label {
            white-space: nowrap;
          }
          .disabled {
            background-color: $gray-100;
            cursor: auto;
          }
          .input-field {
            font-size: 14px;
            font-weight: bold;
            border: 1px solid $dark;
            padding-left: 15px;
            height: 40px;
            border-radius: 2.5px;
          }
          .disabled {
            background-color: #E2E2E2;
          }
          .select-field {
            ::ng-deep .ng-select-container {
              height: 40px;
              font-size: 14px;
              font-weight: bold;
              border: 1px solid $dark;
              border-radius: 2.5px;
              padding-left: 5px;
            }
          }
        }

        .calendar-field-wrapper {
          display: flex;
          flex-direction: row;
          width: 100%;
  
          .calendar-field {
            font-size: 14px;
            font-weight: bold;
            border: 1px solid $dark;
            padding-left: 15px;
            height: 40px;
            border-radius: 2.5px;
            width: 180px;
          }
          .icon-wrapper {
            width: fit-content;
            cursor: pointer;
  
            .di-calendar, .fa-search {
              border: 1px solid $dark;
              border-radius: 0;
              background-color: transparent;
            }
            .disabled {
              background-color: $gray-100;
              cursor: auto;
            }
          }
          .disabled {
            background-color: #E2E2E2;
          }
        }

      }

      .checkbox-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-content: flex-end;
        width: 250px;
        justify-content: flex-end;

        ::ng-deep .custom-control-label {
          cursor: pointer;
        }
      }

    }
    .control-fields-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: $gray-100;
      padding: 1rem;
      gap: 3rem;
      opacity: 0.8;

      .vertical-separator {
        border-right: 2px solid $gray-200;
        width: 1px;
        height: 80px;
      }
      .control-inclusao-container,
      .control-alteracao-container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .control-fields-header {
          font-size: 18px;
          font-weight: 500;
          color: $gray-300;
          text-transform: uppercase;
        }
        .control-fields-wrapper {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .control-field-wrapper {
            display: flex;
            flex-direction: column;

            .control-field-label {
              color: $gray-300;
              font-weight: 500;
            }
            span {
              color: $gray-200;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}
