<div *ngIf="permissaoConsultar; else noPermission">
  <div class="detalhes-<%= dasherize(name) %>-container">

    <div class="navigation-container">
      <div class="navigation-wrapper">
        <div class="navigation-item" *ngFor="let item of navigation">
          <span (click)="item.onClick()">{{item.text}}</span>
          <span *ngIf="navigation.indexOf(item) !== navigation.length - 1">/</span>
        </div>
      </div>
    </div>

    <div *ngFor="let toastr of toastrs">
      <app-prv-toastr
        [toastrInfo]="toastr"
        [autoDestroy]="false"
        (clearToastr)="clearToastr($event)"
      ></app-prv-toastr>
    </div>

    <div class="header-container">
      <h2 class="header-page">DETALHES DA <%= classify(name) %></h2>
      <div class="buttons-container">
        <button
          class="btn btn-primary btn-reenviar-chave-de-acesso"
          type="button"
          (click)="goBack()"
        >VOLTAR</button>
      </div>
    </div>

    <div class="cards-container">
      <div class="card-<%= dasherize(name) %>-wrapper">
        <app-card-detalhes-<%= dasherize(name) %>
          [<%= dasherize(name) %>]="<%= dasherize(name) %>"
          (alterar<%= classify(name) %>Event)="handleAlterar<%= classify(name) %>($event)"
        ></app-card-detalhes-<%= dasherize(name) %>>
      </div>
      <div class="card-categorias-wrapper">
        <app-card-lista-<%= dasherize(name) %>
          [<%= dasherize(name) %>]="<%= dasherize(name) %>"
          (toastr)="handleToastr($event)"
        ></app-card-lista-<%= dasherize(name) %>>
      </div>
    </div>

  </div>
</div>
<ng-template #noPermission>
  <span>Você não tem permissao para acessar essa funcionalidade.</span>
</ng-template>
<ddi-loader [isLoading]="isLoading"></ddi-loader>
